USE [master]
GO
/****** Object:  Database [ALUMNOS]    Script Date: 08-06-2026 11:35:58 ******/
CREATE DATABASE [ALUMNOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ALUMNOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ALUMNOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ALUMNOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ALUMNOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ALUMNOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ALUMNOS]
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 08-06-2026 11:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[COD_ALUMNO] [int] NOT NULL,
	[NOMBRES] [varchar](50) NULL,
	[APELLIDOS] [varchar](50) NULL,
 CONSTRAINT [PK_ALUMNO] PRIMARY KEY CLUSTERED 
(
	[COD_ALUMNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNATURA]    Script Date: 08-06-2026 11:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNATURA](
	[ID_ASIGNATURA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_ASIGNATURA] [varchar](50) NULL,
 CONSTRAINT [PK_ASIGNATURA] PRIMARY KEY CLUSTERED 
(
	[ID_ASIGNATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTAS]    Script Date: 08-06-2026 11:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTAS](
	[ID_NOTA] [int] IDENTITY(1,1) NOT NULL,
	[NOTA] [numeric](2, 2) NULL,
	[N_NOTA] [int] NULL,
	[COD_ALUMNO] [int] NOT NULL,
	[ID_ASIGNATURA] [int] NOT NULL,
 CONSTRAINT [PK_NOTAS] PRIMARY KEY CLUSTERED 
(
	[ID_NOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NOTAS]  WITH CHECK ADD  CONSTRAINT [FK_NOTAS_ALUMNO1] FOREIGN KEY([COD_ALUMNO])
REFERENCES [dbo].[ALUMNO] ([COD_ALUMNO])
GO
ALTER TABLE [dbo].[NOTAS] CHECK CONSTRAINT [FK_NOTAS_ALUMNO1]
GO
ALTER TABLE [dbo].[NOTAS]  WITH CHECK ADD  CONSTRAINT [FK_NOTAS_ASIGNATURA] FOREIGN KEY([ID_ASIGNATURA])
REFERENCES [dbo].[ASIGNATURA] ([ID_ASIGNATURA])
GO
ALTER TABLE [dbo].[NOTAS] CHECK CONSTRAINT [FK_NOTAS_ASIGNATURA]
GO
USE [master]
GO
