@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-column text-center">
    <h1>Calculadora sueldo</h1>
    <form asp-action="calcularSueldo" method="post">

        <label>Sueldo mensual: </label>
        <input type="text" name="sueldo" />

        <br /><br />

        <input type="submit" value="Calcular" />
    </form>
    <br />
    <h2>@ViewBag.mensaje</h2>
</div>