@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Ley del menor esfuerzo</h1>
    <form asp-controller="Home" asp-action="calcularAsistencia">
        <div class="py-3">
            <label>Ingrese cantidad total de clases: </label>
            <input type="number" name="clases"/>
        </div>
        <div class="pb-3">
            <input class="btn btn-success" type="submit" value="Calcular" />
        </div>
    </form>

    <h5>@ViewBag.resultado</h5>
</div>
