USE [master]
GO
/****** Object:  Database [EVALUACION_WEB691]    Script Date: 10/06/2026 10:40:54 ******/
CREATE DATABASE [EVALUACION_WEB691]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EVALUACION_WEB691].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EVALUACION_WEB691]
GO
/****** Object:  Table [dbo].[CAMION]    Script Date: 10/06/2026 10:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMION](
	[COD_CAMION] [varchar](10) NOT NULL,
	[ID_PLANTA] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
 CONSTRAINT [PK_CAMION] PRIMARY KEY CLUSTERED 
(
	[COD_CAMION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHOFER]    Script Date: 10/06/2026 10:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHOFER](
	[ID_CHOFER] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CHOFER] [varchar](50) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
 CONSTRAINT [PK_CHOFER] PRIMARY KEY CLUSTERED 
(
	[ID_CHOFER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 10/06/2026 10:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_ESTADO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_SALIDA]    Script Date: 10/06/2026 10:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_SALIDA](
	[ID_ESTADO_SALIDA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_ESTADO_SALIDA] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ESTADO_SALIDA] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_SALIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANTA]    Script Date: 10/06/2026 10:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTA](
	[ID_PLANTA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PLANTA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PLANTA] PRIMARY KEY CLUSTERED 
(
	[ID_PLANTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALIDA]    Script Date: 10/06/2026 10:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALIDA](
	[ID_SALIDA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_SALIDA] [date] NOT NULL,
	[ID_PLANTA] [int] NOT NULL,
	[COD_CAMION] [varchar](10) NOT NULL,
	[ID_CHOFER] [int] NOT NULL,
	[ID_ESTADO_SALIDA] [int] NOT NULL,
	[USUARIO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SALIDA] PRIMARY KEY CLUSTERED 
(
	[ID_SALIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10/06/2026 10:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[USUARIO] [varchar](20) NOT NULL,
	[NOM_PERSONA] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](20) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([ID_ESTADO], [NOM_ESTADO]) VALUES (1, N'HABILITADO')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [NOM_ESTADO]) VALUES (2, N'DESHABILITADO')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADO_SALIDA] ON 

INSERT [dbo].[ESTADO_SALIDA] ([ID_ESTADO_SALIDA], [NOM_ESTADO_SALIDA]) VALUES (1, N'EN RUTA')
INSERT [dbo].[ESTADO_SALIDA] ([ID_ESTADO_SALIDA], [NOM_ESTADO_SALIDA]) VALUES (2, N'RETORNADO')
INSERT [dbo].[ESTADO_SALIDA] ([ID_ESTADO_SALIDA], [NOM_ESTADO_SALIDA]) VALUES (3, N'RECHAZADO')
SET IDENTITY_INSERT [dbo].[ESTADO_SALIDA] OFF
GO
SET IDENTITY_INSERT [dbo].[PLANTA] ON 

INSERT [dbo].[PLANTA] ([ID_PLANTA], [NOM_PLANTA]) VALUES (1, N'CONCEPCION')
INSERT [dbo].[PLANTA] ([ID_PLANTA], [NOM_PLANTA]) VALUES (2, N'SANTIAGO')
INSERT [dbo].[PLANTA] ([ID_PLANTA], [NOM_PLANTA]) VALUES (3, N'VALPARAISO')
SET IDENTITY_INSERT [dbo].[PLANTA] OFF
GO
INSERT [dbo].[USUARIOS] ([USUARIO], [NOM_PERSONA], [PASSWORD], [ID_ESTADO]) VALUES (N'ADMIN', N'ADMINISTRADOR', N'ADMIN', 1)
GO
ALTER TABLE [dbo].[CAMION]  WITH CHECK ADD  CONSTRAINT [FK_CAMION_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[CAMION] CHECK CONSTRAINT [FK_CAMION_ESTADO]
GO
ALTER TABLE [dbo].[CAMION]  WITH CHECK ADD  CONSTRAINT [FK_CAMION_PLANTA] FOREIGN KEY([ID_PLANTA])
REFERENCES [dbo].[PLANTA] ([ID_PLANTA])
GO
ALTER TABLE [dbo].[CAMION] CHECK CONSTRAINT [FK_CAMION_PLANTA]
GO
ALTER TABLE [dbo].[CHOFER]  WITH CHECK ADD  CONSTRAINT [FK_CHOFER_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[CHOFER] CHECK CONSTRAINT [FK_CHOFER_ESTADO]
GO
ALTER TABLE [dbo].[SALIDA]  WITH CHECK ADD  CONSTRAINT [FK_SALIDA_CAMION] FOREIGN KEY([COD_CAMION])
REFERENCES [dbo].[CAMION] ([COD_CAMION])
GO
ALTER TABLE [dbo].[SALIDA] CHECK CONSTRAINT [FK_SALIDA_CAMION]
GO
ALTER TABLE [dbo].[SALIDA]  WITH CHECK ADD  CONSTRAINT [FK_SALIDA_CHOFER] FOREIGN KEY([ID_CHOFER])
REFERENCES [dbo].[CHOFER] ([ID_CHOFER])
GO
ALTER TABLE [dbo].[SALIDA] CHECK CONSTRAINT [FK_SALIDA_CHOFER]
GO
ALTER TABLE [dbo].[SALIDA]  WITH CHECK ADD  CONSTRAINT [FK_SALIDA_ESTADO_SALIDA] FOREIGN KEY([ID_ESTADO_SALIDA])
REFERENCES [dbo].[ESTADO_SALIDA] ([ID_ESTADO_SALIDA])
GO
ALTER TABLE [dbo].[SALIDA] CHECK CONSTRAINT [FK_SALIDA_ESTADO_SALIDA]
GO
ALTER TABLE [dbo].[SALIDA]  WITH CHECK ADD  CONSTRAINT [FK_SALIDA_PLANTA] FOREIGN KEY([ID_PLANTA])
REFERENCES [dbo].[PLANTA] ([ID_PLANTA])
GO
ALTER TABLE [dbo].[SALIDA] CHECK CONSTRAINT [FK_SALIDA_PLANTA]
GO
ALTER TABLE [dbo].[SALIDA]  WITH CHECK ADD  CONSTRAINT [FK_SALIDA_USUARIOS] FOREIGN KEY([USUARIO])
REFERENCES [dbo].[USUARIOS] ([USUARIO])
GO
ALTER TABLE [dbo].[SALIDA] CHECK CONSTRAINT [FK_SALIDA_USUARIOS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ESTADO]
GO
USE [master]
GO
