
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Listado de ejercicios</h1>

    <a class="btn btn-primary" asp-controller="Home" asp-action="Ejercicio1"> Ejercicio 1</a>
    <br /><br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="Ejercicio2"> Ejercicio 2</a>
    <br /><br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="Ejercicio3"> Ejercicio 3</a>
</div>