
@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar</h1>
<br />
<form asp-action="Nuevo" method="post">
    <label>Añadir usuario</label>
    <input type="text" name="nUsuario" placeholder="Usuario"/>
    <br>
    <label>Añadir Contraseña</label>
    <input type="text" name="nContraseña" placeholder="Contraseña"/>
    <br />
    <label>Habilitado</label>
    <input type="checkbox" name="nHabilitado" value="true"/>
    <br />
    <input type="submit" value="Añadir" />
</form>