
@{
    ViewData["Title"] = "Ejemplo";
}

<h1>Datos:</h1>
<br />
<form asp-controller="Home" asp-action="validardatos" method="post">
    <label>Usuario</label>
    <input type="text" name="usuario" id="txtUsuario" />
    <br />
    <label>Contraseña</label>
    <input type="password" name="contraseña" id="txtContraseña" />
    <br />
    <input type="submit" value="Aceptar" />
</form>
