@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Generador de bucle</h1>
    <form asp-controller="Home" asp-action="generarBucle">
        <div class="py-3">
            <label>Ingrese un número (1 a 3):</label>
            <input type="number" name="opcion" />
        </div>
        <div class="pb-3">
            <input class="btn btn-success" type="submit" value="Generar" />
        </div>
    </form>

    <label>@ViewBag.bucle</label>
    <h5>@ViewBag.resultado</h5>
</div>
